@import "base/variables";
@import url('https://fonts.googleapis.com/css?family=Raleway');

// foundation
@import "base/foundation-settings";
@import "base/foundation-icons";
@import "foundation";
@include foundation-everything;
@include foundation-xy-grid-classes;


// Components
@import "components/Home";
@import "components/Projects";


//Universal

h1,h2,h3,h4,h5 {
    font-family: 'Raleway', sans-serif;    
}

// Nav
.top-bar {
    background-color: #002a2d;
    #site-logo {
        max-width:250px;
    }
    // .top-bar-right {
    //     margin-top: .5rem;
    // }
    .menu {
        font-size: 1.25rem;
        background: transparent;
        a {
            color: #ddd;
            &:hover {
                color:#fff;
            }
        }
        
    }
}

// Sticky Footer

.app-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

#footer {
    text-align: center;
    background: #242424;
    color: #eee;
    width: 100%;
    padding: 20px;
}

// icon-default
.social-icon {
    font-size: 60px;
    color: #ddd;
    padding: 10px;
    &:hover{
        color: #fff;
    }
}

//slide ins
.slideInContent {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.slideInCopy {
    padding: 5%;
}

